.why-we {
    background-color: #FFE6EC;
    padding-top: 50px;
    padding-bottom: 50px;
}

.why-we-container .why-we-img-container img,
.why-we .data_list_area .list_area .list-item {
    border: 2px solid #aa163a;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px #aa163a;
}

.why-we .data_list_area .list_area .list-item h2 {
    border: none;
    box-shadow: none;
    margin-top: 0;
}


.why-we-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}


.why-we-container .list-item {
    padding: 10px;
    display: flex;
    background-color: white;
}


.why-we-container .text-container,
.why-we-container .why-we-img-container {
    width: 40%;
}

.why-we-container .why-we-img-container img {
    width: 100%;
    border-radius: 200px;
}


.why-we .text-area {
    text-align: left;
}


.why-we .list-item .img_area {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .why-we-container {
        flex-direction: column;
    }

    .why-we-container .text-container,
    .why-we-container .why-we-img-container {
        width: 100%;
    }

    .why-we .text-area {
        text-align: center;
    }
}