.faq-container {
    width: 80%;
    color: #CE3E61;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}

.faq-container .faq-list {
    width: 45%;
}

.faq-container .faq-item {
    border: 1px solid #CE3E61;
    box-shadow: 0 0 20px 1px #CE3E61;
    align-content: center;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26.4px;
    letter-spacing: 0;
    vertical-align: middle;
    background-color: white;
    margin-top: 25px;
    padding: 10px;
}

.faq-answer {
    padding: 20px;
    font-size: 16px;
}

.faq-container .list-item p {
    padding: 20px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20.4px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 20px #CE3E61;
}


.faq-text {
    width: 500px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: -0.24px;
    vertical-align: middle;
}

.faq-text .watsapp_button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #25D366;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.faq-text button:hover {
    box-shadow: 0 4px 20px #25D366;
}

@media (max-width: 1200px) {
    .faq-container {
        width: 90%;
    }

    .faq-text {
        text-align: center;
        width: 40%;
    }

    .faq-text button {
        margin: 100px auto;
    }
}

@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        display: flex;
    }

    .faq-text {
        width: 100%;
        font-family: 'Inter', sans-serif;
        text-align: center;
        order: 1;
    }

    .faq-text button {
        margin: 100px auto 100px;

    }

    .faq-container .faq-list {
        width: 100%;
        order: 2;
    }
}