.mentoria-microcosmetica {
    background-image: url('./../../assets/img/bg_s1.png');
    height: 700px;
    background-size: cover;
    background-position: center;
    color: #A5324E;
    display: flex;
    align-items: center;
}


.mentoria-microcosmetica .text-container {
    width: 48%;
}


.mentoria-microcosmetica h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.32px;
    width: 90%;
    height: auto;
    margin-top: 100px;
}

.mentoria-microcosmetica p {
    width: 90%;
    margin-top: 30px;
    font-size: 23px;
}

.mentoria-microcosmetica .img-container {
    width: 300px;
    height: 300px;
    margin-top: 150px;
}

.img-container img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 30px 1px #CE3E61;
}

.mentoria-microcosmetica button {
    margin-top: 30px;
    background-color: #A5324E;
    padding: 12px 20px;
    width: 200px;
    color: white;
    border-radius: 50px;
}

.MCDifFont {
    font-family: Playfair Display, serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.content-area {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


@media (max-width: 991px) {
    .mentoria-microcosmetica .content-area {
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .container {
        width: 100%;
    }


    .mentoria-microcosmetica .content-area .text-container {
        width: 100%;
        text-align: center;
    }

    .mentoria-microcosmetica p,
    .mentoria-microcosmetica h1 {
        width: 60%;
        margin: 0 auto;
    }

    .mentoria-microcosmetica .img-container {
        padding-bottom: 300px;
    }

}

