.bonus {
    padding: 40px 20px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.bonus-container{
    display: flex;
    justify-content: space-between;
}

.bonus-header {
    text-align: center;
    margin-bottom: 40px;
}

.bonus-header h1 {
    font-size: 32px;
    color: #A5324E;
}

.bonus-header h1 span {
    color: #CE3E61;
    font-weight: bold;
}

.bonus-header p {
    font-size: 18px;
    margin: 20px 0;
}

.bonus-header button {
    background-color: #CE3E61;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.bonus-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bonus-item {
    border: 1px solid #CE3E61;
    border-radius: 10px;
    padding: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(206, 62, 97, 0.2);
}

.bonus-title {
    font-size: 18px;
    font-weight: 600;
    color: #CE3E61;
    cursor: pointer;
}

.bonus-description {
    margin-top: 12px;
    font-size: 16px;
    color: #444;
    line-height: 1.4;
}
