.practice {
    margin-bottom: 150px;
}

.content-area {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.img-container {
    width: 48%;
}

.text-container {
    width: 48%;
}

.practice .text-container .main-text {
    color: #CE3E61;
}

.list-item h2 {
    border: 1px solid #CE3E61;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26.4px;
    letter-spacing: 0;
    vertical-align: middle;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 50px;
    box-shadow: 0 4px 20px #CE3E61;
}


.practice .text-container .main-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: normal;
    vertical-align: middle;
}

.practice .text-container .list-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 20.4px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 20px #CE3E61;
    padding: 20px;
}

.image-area {
    width: 50%;
    margin: 0 auto;
}

.text-area {
    color: #CE3E61;
    text-align: center;
    margin-top: 50px;
}

.text-area h1,
.text-area p {
    margin-top: 10px;
}

.icons-area {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 50%;
}


@media (max-width: 768px) {
    .practice .content-area {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .practice .content-area .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .practice .content-area .img-container .image-area {
        order: 2;
        margin-top: 50px;
    }

    .practice .content-area .img-container .text-area {
        order: 1;
        margin-top: 0;
    }

    .practice .content-area .img-container .icons-area {
        order: 3;
        margin-top: 50px;
    }

    .practice .content-area .text-container {
        width: 100%;
        margin-top: 50px;
    }

    .practice .content-area .image-area,
    .practice .content-area .text-area,
    .practice .content-area .icons-area {
        width: 100%;
    }
}