.content-area {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.certification_col {
    width: 20%;
}

.certification {
    background: #7C253A;
    color: white;
}

@media (max-width: 991px) {
    .certification .content-area {
        width: 100%;
    }

    .certification .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .certification  {
        display: none;
    }
}